* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
}

div.loginForm {
	border: solid #dadada 1px;
	background: #dadada;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.loginForm table {
	align-self: center;
}

.loginForm table tr {
	text-align: center;
}

table.logs {
	width: 100%;
	max-width: 100% !important;
	border: solid black 1px;
	border-spacing: 0;
	border-collapse: collapse;
}

table.logs thead {
	font-weight: bold;
	text-align: center;
}

table.logs td {
	border: solid black 1px;
}

table.logs td div {
	overflow-x: scroll;
	width: 100%;
}
