[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.9.0"
evernote3 = "==1.25.12"
"oauth2" = "*"
pymongo = "==3.7.2"
PyYAML = "==3.13"

[dev-packages]

[requires]
python_version = "3.7"
