aiohttp==0.22.5
aiohttp-jinja2==0.8.0
aiomcache==0.3.0
chardet==2.3.0
gunicorn==19.6.0
Jinja2==2.8
MarkupSafe==0.23
multidict==1.2.2
oauthlib==2.0.0
pymongo==3.3.0
requests==2.11.1
requests-oauthlib==0.6.2