{
	"secret_key": "APPLICATION_SECRET_KEY",

	"smtp":
	{
		"host": "SMTP_HOST",
		"port": 465,
		"user": "LOGIN",
		"password": "PASSWORD",
		"email": "EMAIL"
	},

	"evernote":
	{
		"key": "YOUR_KEY",
		"secret": "YOUR_SECRET",
		"oauth_callback": "YOUR_CALLBACK"
	},

	"telegram":
	{
		"token": "BOT_TOKEN",
		"webhook_url": "YOUR_CALLBACK_URL"
	}
}
