{
	"host": "your.hostname.com",
	"telegram": {
		"token": "secret"
	},
	"evernote": {
		"access": {
			"token": "",
			"basic": {
				"key": "",
				"secret": "",
				"oauth_callback_url": ""
			},
			"full": {
				"key": "",
				"secret": "",
				"oauth_callback_url": ""
			}
		}
	}
}
