{% extends 'base.html' %}

{% block title %}Downloads{% endblock %}

{% block body %}
<table class="table table-hover table-bordered" style="width: 98%; margin: 15px">
    <thead>
        <tr>
            <th>File ID</th>
            <th>File size</th>
            <th>Completed</th>
            <th>User ID</th>
            <th>Mime type</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
    {% for task in list_downloads %}
    <tr>
        <td>{{ task.file_id }}</td>
        <td>{{ task.file_size }}</td>
        <td>{{ task.completed }}</td>
        <td>{{ task.user_id }}</td>
        <td>{{ task.mime_type }}</td>
        <td>{{ task.file }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}