{% extends 'base.html' %}

{% block title %}Failed updates{% endblock %}

{% block body %}
<table class="table table-hover table-bordered" style="width: 98%; margin: 15px">
    <thead>
        <tr>
            <th>Failed at</th>
            <th>Request type</th>
            <th>Message</th>
            <th>Error</th>
            <th>
                <form action="/a/fix_failed_update/{{ secret }}">
                    <button type="submit" class="btn btn-danger">Fix all</button>
                </form>
            </th>

        </tr>
    </thead>

    <tbody>
    {% for update in failed_updates %}
        <tr>
            <td>{{ update.failed_at }}</td>
            <td>{{ update.request_type }}</td>
            <td>{{ update.message }}</td>
            <td>{{ update.error }}</td>
            <td>
                <form action="/a/fix_failed_update/{{ secret }}">
                    <button type="submit" class="btn btn-danger">Fix</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}